<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @quimicos_serigrafia_producto.video %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @quimicos_serigrafia_producto.titulo %>
</p>

<p>
  <strong>Linea producto:</strong>
  <%= @quimicos_serigrafia_producto.linea_producto %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @quimicos_serigrafia_producto.marca %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @quimicos_serigrafia_producto.descripcion %>
</p>

<p>
  <strong>Especificaciones tecnicas:</strong>
  <%= @quimicos_serigrafia_producto.especificaciones_tecnicas %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @quimicos_serigrafia_producto.presentacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @quimicos_serigrafia_producto.precio %>
</p>

<%= link_to 'Edit', edit_quimicos_serigrafia_producto_path(@quimicos_serigrafia_producto) %> |
<%= link_to 'Back', quimicos_serigrafia_productos_path %>
