<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @tinta_serigrafia_producto.video %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @tinta_serigrafia_producto.titulo %>
</p>

<p>
  <strong>Linea producto:</strong>
  <%= @tinta_serigrafia_producto.linea_producto %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @tinta_serigrafia_producto.marca %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tinta_serigrafia_producto.descripcion %>
</p>

<p>
  <strong>Especificaciones tecnicas:</strong>
  <%= @tinta_serigrafia_producto.especificaciones_tecnicas %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @tinta_serigrafia_producto.presentacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @tinta_serigrafia_producto.precio %>
</p>

<p>
  <strong>Titulo grupo color uno:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_uno %>
</p>

<p>
  <strong>Titulo grupo color dos:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_dos %>
</p>

<p>
  <strong>Titulo grupo color tres:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_tres %>
</p>

<p>
  <strong>Titulo grupo color cuatro:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_cuatro %>
</p>

<p>
  <strong>Titulo grupo color cinco:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_cinco %>
</p>

<p>
  <strong>Titulo grupo color seis:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_seis %>
</p>

<p>
  <strong>Titulo grupo color siete:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_siete %>
</p>

<p>
  <strong>Titulo grupo color ocho:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_ocho %>
</p>

<p>
  <strong>Titulo grupo color nueve:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_nueve %>
</p>

<p>
  <strong>Titulo grupo color diez:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_diez %>
</p>

<p>
  <strong>Titulo grupo color once:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_once %>
</p>

<p>
  <strong>Titulo grupo color doce:</strong>
  <%= @tinta_serigrafia_producto.titulo_grupo_color_doce %>
</p>

<%= link_to 'Edit', edit_tinta_serigrafia_producto_path(@tinta_serigrafia_producto) %> |
<%= link_to 'Back', tinta_serigrafia_productos_path %>
