<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre apellido:</strong>
  <%= @mensaje.nombre_apellido %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @mensaje.correo_electronico %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @mensaje.telefono %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @mensaje.mensaje %>
</p>

<%= link_to 'Edit', edit_mensaje_path(@mensaje) %> |
<%= link_to 'Back', mensajes_path %>
