<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @papel_sublimacion_producto.video %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @papel_sublimacion_producto.titulo %>
</p>

<p>
  <strong>Linea producto:</strong>
  <%= @papel_sublimacion_producto.linea_producto %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @papel_sublimacion_producto.marca %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @papel_sublimacion_producto.descripcion %>
</p>

<p>
  <strong>Especificaciones tecnicas:</strong>
  <%= @papel_sublimacion_producto.especificaciones_tecnicas %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @papel_sublimacion_producto.presentacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @papel_sublimacion_producto.precio %>
</p>

<%= link_to 'Edit', edit_papel_sublimacion_producto_path(@papel_sublimacion_producto) %> |
<%= link_to 'Back', papel_sublimacion_productos_path %>
